@use '../styles/partials/variables' as *;

// Definisci il mixin per i bottoni
@mixin buttons {
    padding: 5px 15px;
    border-radius: 7px;
    border: none;

    &:hover {
        border: 1px;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(45, 255, 196, 1);
        -moz-box-shadow: 0px 0px 6px 0px rgba(45, 255, 196, 1);
        box-shadow: 0px 0px 6px 0px rgba(45, 255, 196, 1);
    }

    .color {
        color: #22cdd0;
    }
}

// Stile per il primo pulsante
.btn-boo {
    @include buttons;
    background-color: white;

    &:hover {
        background-color: #f0f0f0;
        color: #333;
    }
}
