// font deliveboo
$boo-font: 'PT Sans', Sans-serif;

// colore testo deliveboo
$boo-text-color: #00CCBC;
$white-text-color: white;

// colore deliveboo
$boo-color: #00CCBC;

//grigio scuro primario sfondi
$primary-grey-color: #2E3333;
//grigio chiaro secondario sfondi
$secondary-grey-color: #434848;