$main-font: 'Roboto Slab', Sans-serif;

$secondary-font: 'Cedarville Cursive', cursive;
// $secondary-font: 'Clicker Script', cursive;

$tertiary-font: 'Questrial', sans-serif;

$main-text-color: #000000;

// azzurro
$secondary-text-color: #6ac5f1;
// testo corsivo

// arancione
$tertiary-color: #ef6f31;
$tertiary-text-color: white;

// arancione chiaro
$fourth-color: #fef0ea;

// verde
$fifth-color: #20ad96;
$sixth-color: #3f3a64;